<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Citizen </title>
</head>
<body>
<h1> Citizen
<form action="/register" method="post">
<label for="id"> ID: </label>
<input type="text" name="id"/></br>

<label for="names"> NAMES: </label>
<input type="text" name="names"/><br>

<label for="adress"> ADRESS: </label>
<input type="text" name="=adress"/></br>

<label for="dob"> DATE OF BIRTH: </label>
<input type="text" name="dob"/></br>

<button type="submit">SAVE</button>
</form>

</body>
</html>